<h3 class="text-center">Employee CRUD using NgRx</h3>

<button class="btn btn-primary" (click)="fetchEmployeeData()">Fetch Employees</button>

<table class="table table-bordered table-striped mt-2">
  <tbody>
    @for (emp of employeeArr$ | async; track $index) {
    <tr>
      <td>{{emp.id}}</td>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.sal}}</td>
      <td>{{emp.gender}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteEmployeeData(emp.id)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
